version: '3.8'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: mssql-2025
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "SQLServer2025"
      MSSQL_PID: Express
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'SQLServer2025' -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mssql_data:
